@import '../../../../../variables.styl'
:host
    margin-left: .8rem
    background-color: boxBColor
    padding: boxPadding
.github-issues
    font-weight: bold
.issue
    margin-bottom: .8rem
    background-color: boxAColor
    padding: boxPadding
.close-btn
    font-weight: bold
    display: inline-block
    position: relative
    left: 100%
    transform: translateX(-100%)
