<header>
    <div class="labels">
        <label>
            Repository:<br>
            <input [formControl]="repository" type="text" placeholder="Search repo by name...">
        </label>
        <label>
            Username:<br>
            <input [formControl]="username" type="text" placeholder="Search repo by author...">
        </label>
        <label>
            Page:<br>
            <input type="number" [formControl]="pageNumber" min="1" placeholder="Default:1">
            out of
            <span class="repo-count">{{repoTotalCount | ghpageCount}}</span>
        </label>
    </div>
    <div class="messages">
        <div *ngIf="waiting"><i>waiting...</i></div>
    </div>
</header>
<app-repo
    class="repo {{repo.id}}"
    *ngFor="let repo of repositories;"
    [repo]="repo"
    [repoID]="repoID"
    [issues]="issues"
    [searchOpenedIssues]="searchOpenedIssues.bind(this)">
</app-repo>
