<div class="desc">
    <a target="_blank" href="{{repo.html_url}}">
        <h3>{{repo.name}}</h3>
    </a>
    Description: {{repo.description}}
    <br>
    Stargazers: {{repo.stargazers_count}}
    <br>
    Watchers: {{repo.watchers_count}}
    <br>
    Forks: {{repo.forks_count}}
    <br>
    <button class="btn-open-issues" type="button" (click)="searchOpenedIssues(repo.name,repo.owner.login, repo.id);">
        Open Issues: {{repo.open_issues_count}}
    </button>
</div>
<app-open-issues class="open_issues"
    *ngIf="repoID==repo.id && issues.length"
    [issues]="issues"
    [repo]="repo">
</app-open-issues>
