@import "../../../../variables";
.details
    li
        background-color: boxBColor
        margin-bottom: 1rem
        display: inline-block
        span
            padding: .3rem .5rem
            font-weight: bold
            background-color: boxBColor
        span:nth-child(2n+1)
            background-color: boxAColor
.desc-text
    display: flex !important
.btn-open-issues
    margin: .4rem 0
