@import "../../../../variables";
.details
    li
        background-color: #3D4549
        margin-bottom: 1rem
        // border: 3px solid textPrimary
        display: inline-block
        span
            padding: .3rem .5rem
            font-weight: bold
            background-color: #3D4549
        span:nth-child(2n+1)
            background-color: #252E32
            // border-right: 3px solid textPrimary
.desc-text
    display: flex !important
.btn-open-issues
    margin: .4rem 0
