<label>
    Repository:
    <input [formControl]="repository" type="text">
</label>
<label>
    Username:
    <input [formControl]="username" type="text" placeholder="Optional">
</label>
<hr>
<div class="repo" *ngFor="let repo of repositories">
    <a target="_blank" href="{{repo.html_url}}">
        <h3>{{repo.name}}</h3>
    </a>
    Description: {{repo.description}}
    <br>
    Stargazers: {{repo.stargazers_count}}
    <br>
    Watchers: {{repo.watchers_count}}
    <br>
    Forks: {{repo.forks_count}}
    <br>
    Open Issues: {{repo.open_issues_count}}
    <hr>
</div>
