:host {
    background-color: rgb(12, 22, 27);
    display: block;
    padding: 1rem;
}
label {
    display: block;
    margin: 5px 0;
}
input[type="text"] {
    width: 17rem;
}
input[type="number"] {
    width: 8rem;
}
.repo {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px ridge black;
    padding-right: 3px;
}
.repo:first-of-type {
    border-top: 3px ridge black;
}
.pages {
    display: flex;
    justify-content: space-between;
    margin-right: 3px;
}
.repo-count {
    font-weight: bold;
}
header {
    display: flex;
    align-items: center;
}
.messages {
    margin-left: .8rem;
    width: 100%;
    display: flex;
    justify-content: center;
}
.messages {
    color: rgb(207, 119, 11);
    font-weight: bold;
    font-size: 110%;
}
.btn-open-issues {
    background-color: transparent;
    color: rgb(131, 168, 189);
    border: 2px solid rgb(131, 168, 189);
    padding: .4rem .8rem;
    margin: .4rem 0;
    border-radius: 0;
}
.btn-open-issues:hover {
    border-color: rgb(122, 149, 164);
}
.btn-open-issues:active {
    border-color: rgb(122, 149, 164);
    background-color: rgba(255, 255, 255, 0.05);
}
