<label>
    Repository:
    <input [formControl]="repository" type="text">
</label>
<label>
    Username:
    <input [formControl]="username" type="text" placeholder="Optional">
</label>
<div class="repo repo{{i}}" *ngFor="let repo of repositories;let i=index">
    <div class="desc">
        <a target="_blank" href="{{repo.html_url}}">
            <h3>{{repo.name}}</h3>
        </a>
        Description: {{repo.description}}
        <br>
        Stargazers: {{repo.stargazers_count}}
        <br>
        Watchers: {{repo.watchers_count}}
        <br>
        Forks: {{repo.forks_count}}
        <br>
        <button type="button" (click)="searchOpenedIssues(true,repo.name,repo.owner.login, i);">
            Open Issues: {{repo.open_issues_count}}
        </button>
    </div>
    <div class="open_issues">
        <div *ngIf="repoIndex==i">
            <div *ngFor="let issue of issues">
                <a target="_blank" href="{{issue.html_url}}">
                    {{issue.title}}
                </a>
            </div>
        </div>
    </div>
</div>
