:host {
    background-color: rgb(12, 22, 27);
    display: block;
    padding: 1rem;
}
label {
    display: block;
    margin: 5px 0;
}
input[type="number"] {
    max-width: 8rem;
}
.repo {
    display: flex;
    justify-content: space-between;
    border-bottom: 3px ridge black;
    padding-right: 3px;
}
.repo:first-of-type {
    border-top: 3px ridge black;
}
.pages {
    display: flex;
    justify-content: space-between;
    margin-right: 3px;
}
.repo-count {
    font-weight: bold;
}
header {
    display: flex;
    align-items: center;
}
.messages {
    margin-left: .8rem;
    width: 100%;
    display: flex;
    justify-content: center;
}
.messages {
    color: rgb(207, 119, 11);
    font-weight: bold;
    font-size: 110%;
}
